mixin price()
  +b('section').price
    +b.container
      +b.row
        +b.price__head.col-12
          +e('h2') New in retail business? Looking for profitable options?
        +b.price__comment.col-12
          +e('p') A new way to launch the delivery service in a few clicks with World trusted companies!
          +e('p') We collaborate with world leaders on delivery. The order management system is already integrated into
          +e('p') the platform. Here are the delivery price list examples to New York and neighboring states:
        +b.price-block.col-12
          +e.item.col-lg-4.col-md-5
            +e('h3').item__head New York
            +e('p').item__text 5 mile ~ $11
            +e('p').item__text 10 mile ~ $19
            +e('span').item__num 01
          +e.item.col-lg-4.col-md-5
            +e('h3').item__head Philadelphia
            +e('p').item__text 5 mile ~ up to $7,<br>  but the minimal rate $8
            +e('p').item__text 10 mile ~ $11
            +e('span').item__num 02
          +e.item.col-lg-4.col-md-5
            +e('h3').item__head New Jersey
            +e('p').item__text 5 mile ~ up to $7,<br> but the minimal rate $8
            +e('p').item__text 10 mile ~ $11
            +e('span').item__num 03
        +b.price__bottom-head.col-12
          +e('h2') Drive your own delivery but interested in implement new technologies?
        +b.price__bottom-comment.col-md-10
          +e('p') - We offer an opportunity to manage your own delivery service from the single portal by using the other tools of your business
        +b.price__bottom-comment.col-md-10
          +e('p') - Easy to use tool which can be personalised!
        +b.price__bottom-comment.col-md-10
          +e('p') - Retail ecosystem. Mobile business. Mobile menu. Be close to your customer approximative  70%* of its time
        +b.price__bottom-text.col-12
          +e('p') * the period of time that the ordinary (regular) person spends on the smartphone during the day
