mixin recipe()
  +b('section').recipe
    +b.container
      +b.row
        +b('h2').recipe__head.col-lg-7 The ideal recipe of successful cafe / Essential Ingredients of a Successful Cafe!
        +b.recipe-block.col-lg-9.col-md-6
          +e('img')(src='assets/images/recipe_1.png' alt='')
          +e('span') +
          +e('img')(src='assets/images/recipe_2.png' alt='')
          +e('span') =
          +e('p').text Happy customer / Satisfied customer
          +e('p').bottom-text Cafe + Delivery
        +b.recipe-block.col-lg-12.col-md-6
          +e('img')(src='assets/images/recipe_1.png' alt='')
          +e('span') +
          +e('img')(src='assets/images/recipe_2.png' alt='')
          +e('span') +
          +e('img')(src='assets/images/recipe_3.png' alt='')
          +e('span') =
          +e('p').text Time saving and income growth + Satisfied customer
          +e('p').bottom-text Cafe + Delivery + Personal dispatcher
        +b.recipe-btn-block.col-md-3
          +e('button').center.btn button
          +e('img')(src='assets/images/share.png' alt='').right
