mixin delivery()
  +b('section').delivery
    +b.container
      +b.row
        +b.delivery-block.col-md-12
          +e('img')(src='assets/images/delivery_image.png' alt='').left
          +e.right.col-xl-7.col-12
            +e('h2') New in delivery business?
            +e('h3') Are you working on the strategic planning of launching a
            +e('h3') delivery service for your customers?
            +e('span') Start it with us
            +e('p') We offer a flexible platform with automatic price monitoring system, which will compete in the market,
              | and manage your business from a single cloud platform
            +e('h5') Do more than just traditional delivery!
            +e('p') It is a new opportunity for your business to become more attractive to customers *
            +e('button').right__button.btn button
        +b.delivery-procent.col-md-12
          +e('img')(src='assets/images/five_dot.png' alt='')
          +e('span') 28%
          +e('p') According to the statistics, 28% of customers are ready to order the delivery, if there is an option for it.
