mixin second-section()
  +b('section').second-section
    +b.red-fon.jsSecondFon
    +b.container
      +b.row
        +b.second-block
          +e.head.col-md-10
            +e('p') We chose a simple service - delivery - and provided you with an opportunity to start your own
              | delivery services business. It is easy to manage and optimize costs while offering the best balance of
              | quality vs prices.
          +e('img')(src='assets/images/five_dot.png' alt='').dots
          +e.text-block
            +e('img')(src='assets/images/share.png' alt='').text-block__share
            +e.text-block__white-fon
            +b.dark-block.dark-block_second-left
            +b.dark-block.dark-block_second-right
            +e.text-block__red-text.col-xl-4.col-lg-4.col-md-6.col-sm-12
              +e('p') The fdh.cloud platform applies the popular product delivery
              +e('p') systems by using the bicycle courirers and drivers
            +e('img')(src='assets/images/people_bicycle.png' alt='').text-block__bicycle
            +e('p').text-block__black-text.col-xl-4.col-lg-4.col-md-6.col-sm-12 We offer the opportunity to extend the list of companies whose services can
              | be used in our system.
