mixin business()
  +b('section').business
    +b.container
      +b.row
        +b.business-head.col-md-12
          +e('h2') you drive your own business?
        +b.business-block
          +e.left.col-xl-8
            +e('p').left__top-text.mb-4 Our service offers you to expand your business through new market segment: e-commerce. This is a
              | global online niche for retailers, and every year it offers more opportunities to attract new customers
              | and grow business development. We have discovered the technological side of e-commerce and made it
              | available for you and easy to use!
            +e('p').left__top-text Build your business based on the fdh.cloud platform with the ability to sell online directly from
              | the store, and become a part of one of the fastest-growing online trading segments.
              | But that's not the end! We prepared specific options to which you get an access by using fdh.cloud:
            +e.left__buttons
              +b('button').btn buy now
              +b('button').btn consultation
            +e('p').left__bottom-text We have created a unique business retail e-commerce platform, that uses the best modern technologies
              | and IoT. It is a key factor whether your business will succeed and becomes interesting for Generation Z
              | и Millenials today!
          +e.right.col-xl-4
            +e('img')(src='assets/images/business_image.png' alt='')
